<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets output="css/compiled/main.css" filter="cssrewrite"
        "bower_components/bootstrap/css/bootstrap.min.css"
        "bower_components/bootstrap/css/font-awesome.css"
        "bower_components/bootstrap/css/animate.css"
        "bower_components/bootstrap/css/style.blue.css"
        "bower_components/bootstrap/css/styles.css"
        "bower_components/bootstrap/css/owl.carousel.css"
        "bower_components/bootstrap/css/owl.theme.css"
        "vendor/jquery-ui/jquery-ui.min.css"

        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block nav %}
        {% include ':include:navbar.html.twig' %}
    {% endblock nav %}
    {% block slide %}

    {% endblock slide %}
    {% block breadcrumbs %}
    {% endblock breadcrumbs %}
    <div class="container">


        {% block body %}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        {% endblock body %}


    </div>
    <footer id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center-sm">
                    <div class="social">
                        <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>
    <div id="copyright">
        <div class="container">
            <div class="col-md-12">
                <p class="pull-left">&copy; 2015. Easy Ventes</p>
                <p class="pull-right">Contacter nous au +33 00 00 00 00 00
                    <br/>ou easyvente@contact.com
                    <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                </p>

            </div>
        </div>
    </div>

    {% javascripts output="js/compiled/main.js"
    "bower_components/bootstrap/jquery/jquery-1.11.2.js"
    "bower_components/bootstrap/js/bootstrap.js"
    "bower_components/bootstrap/js/jquery.cookie.js"
    "bower_components/bootstrap/js/jquery.counterup.min.js"
    "bower_components/bootstrap/js/jquery.parallax-1.1.3.js"
    "bower_components/bootstrap/js/owl.carousel.min.js"
    "vendor/jquery-ui/jquery-ui.min.js"
    "bower_components/bootstrap/js/front.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        <script type="text/javascript">
            $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'});
        </script>
        {% endjavascripts %}
    </body>
</html>
