{% extends '::base.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}
{% block body %}
    <div class="body">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family:Helvetica, Arial,serif;'>

        <!-- =============================== Header ====================================== -->

        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                    <tr>
                        <td class='movableContentContainer'  >


                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr><td height='25'  colspan='3'></td></tr>

                                    <tr>
                                        <td valign='top'  colspan='3'>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                <tr>
                                                    <td align='left' valign='middle' >
                                                        <div class="contentEditableContainer contentImageEditable">
                                                            <div class="contentEditable" >
                                                                <img src="{{ asset('bower_components/bootstrap/img/logo.png') }}" alt='Compagnie logo' data-default="placeholder" data-max-width="300" width='250' height='60' >
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td align='center' valign='top' width="180">
                                                        <div class="contentEditableContainer contentTextEditable" style='display:inline-block;'>
                                                            <div class="contentEditable" >
                                                                Si cet e-mail ne s'affiche pas correctement
                                                                <a target='_blank' href="" style='color:#467fbf;font-size:13px;text-decoration:none;'>Cliquez-ici </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr><td height='25'  ></td></tr>

                                    <tr>
                                        <td height='290'  class='bgItem'>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>

                                                <tr><td height='50' ></td></tr>

                                                <tr>
                                                    <td width='350' >
                                                        <div class="contentEditableContainer contentImageEditable">
                                                            <div class="contentEditable" >
                                                                <img src="{{ asset('bower_components/bootstrap/img/hight-tech.png') }}" alt='featured image' data-default="placeholder" data-max-width="300" width='326' height='269' >
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td width='250' valign='top'>
                                                        <table width="250" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                            <tr><td colspan='3' height='10'></td></tr>

                                                            <tr>
                                                                <td width='10'></td>
                                                                <td width='230' valign='top'>
                                                                    <table width="230" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable" >
                                                                                        <h1 style='font-size:24px;font-weight:normal;color:#ffffff;line-height:25px;'>Ce produit pourrais vous intéresser</h1>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='18'></td></tr>
                                                                        <tr>
                                                                            <td valign='top'>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable" >
                                                                                        <p style='font-size:13px;color:#cfeafa;line-height:19px;'>Le fin du fin de la performance et du design...</p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='33'></td></tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="contentEditableContainer contentTextEditable">
                                                                                    <div class="contentEditable" >
                                                                                        <a target='_blank'  href="#" style='padding:15px;font-size:13px;text-decoration:none;background:transparent;border:2px solid #E5F5FF;text-transform:uppercase;color:#E5F5FF;'>En savoir plus</a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='15'></td></tr>
                                                                    </table>
                                                                </td>
                                                                <td width='10'></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>

                                                <tr><td height='25'></td></tr>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr><td height='25' ></td></tr>
                                </table>
                            </div>


                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                <tr><td colspan='3' height='25'></td></tr>
                                                <tr>
                                                    <td width='50'></td>
                                                    <td width='500'>
                                                        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                            <tr>
                                                                <td align='center'>
                                                                    <div class='contentEditableContainer contentTextEditable'>
                                                                        <div class='contentEditable'>
                                                                            <h1 style='font-size:32px;'>Venez participer à notre prochaine vente privée
                                                                                <br/> le
                                                                            </h1>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr><td height='20'></td></tr>

                                                        </table>
                                                    </td>
                                                    <td width='50'></td>
                                                </tr>
                                                <tr><td colspan='3' height='45'></td></tr>
                                            </table>
                                        </td></tr></table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
                                                <tr><td height='10'>&nbsp;</td></tr>
                                                <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                                                <tr><td height='10'>&nbsp;</td></tr>
                                            </table>
                                        </td></tr></table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                <tr><td colspan='3' height='10'></td></tr>
                                                <tr>
                                                    <td width='30'></td>
                                                    <td width='540'>
                                                        <table width="500" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                            <tr>
                                                                <td align='center'>
                                                                    <div class='contentEditableContainer contentTextEditable'>
                                                                        <div class='contentEditable'>
                                                                            <p >It’s been downloaded...</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr><td height='30'></td></tr>
                                                            <tr>
                                                                <td>
                                                                    <div class='contentEditableContainer contentTextEditable'>
                                                                        <div class='contentEditable'>
                                                                            <table width="500" border="0" cellspacing="1" cellpadding="20" align="center" valign='top'>
                                                                                <tr>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>20</td>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>04</td>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>3</td>
                                                                                    <td align='center' style='color:#444444;font-size:28px;'>,</td>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>3</td>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>3</td>
                                                                                    <td align='center' bgcolor='#444444' style='border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;color:#ffffff;font-size:28px;'>7</td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr><td height='45'></td></tr>
                                                            <tr>
                                                                <td align='center'>
                                                                    <div class='contentEditableContainer contentTextEditable'>
                                                                        <div class='contentEditable'>
                                                                            <a target='_blank' href="#" class='link2' style='color:#ffffff;'>Grab one quick!
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width='30'></td>
                                                </tr>
                                                <tr><td colspan='3' height='45'></td></tr>
                                            </table>
                                        </td></tr></table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
                                                <tr><td height='10'>&nbsp;</td></tr>
                                                <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                                                <tr><td height='10'>&nbsp;</td></tr>
                                            </table>
                                        </td></tr></table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'><tr><td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                <tr><td colspan='5' height='30'></td></tr>
                                                <tr>
                                                    <td>
                                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                            <tr>
                                                                <td width='166' valign='top'>
                                                                    <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                        <tr>
                                                                            <td>
                                                                                <div class='contentEditableContainer contentImageEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <img src="images/featured1.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <h2>First Feature</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <p >A feature is a tangible aspect of the product.</p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width='51'></td>
                                                                <td width='166' valign='top'>
                                                                    <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                        <tr>
                                                                            <td>
                                                                                <div class='contentEditableContainer contentImageEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <img src="images/featured2.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <h2>Second Feature</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <p >Instead, you can talk about benefits
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width='51'></td>
                                                                <td width='166' valign='top'>
                                                                    <table width="166" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                        <tr>
                                                                            <td>
                                                                                <div class='contentEditableContainer contentImageEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <img src="images/featured3.png" alt='featured image' data-default="placeholder" data-max-width="166" width='165' height='165' >
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <h2>Third Feature</h2>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr><td height='22'></td></tr>
                                                                        <tr>
                                                                            <td align='center'>
                                                                                <div class='contentEditableContainer contentTextEditable'>
                                                                                    <div class='contentEditable'>
                                                                                        <p >Or the problems (pain points) your app helps with</p>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>

                                                </tr>
                                                <tr><td colspan='5' height='45'></td></tr>
                                            </table>
                                        </td></tr></table>
                            </div>

                            <div class='movableContent'>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                    <tr>
                                        <td>
                                            <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                <tr>
                                                    <td>
                                                        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>

                                                            <tr>
                                                                <td>
                                                                    <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
                                                                        <tr><td height='10'>&nbsp;</td></tr>
                                                                        <tr><td style='border-bottom:1px solid #DDDDDD'></td></tr>
                                                                        <tr><td height='10'>&nbsp;</td></tr>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr><td height='28'>&nbsp;</td></tr>

                                                            <tr>
                                                                <td valign='top' align='center'>
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable" >
                                                                            <p style='font-weight:bold;font-size:13px;line-height: 30px;'>This email was sent to [email] when you signed up on [CLIENTS.WEBSITE]. Please add us to your contacts to ensure the newsletters land in your inbox.</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr><td height='28'>&nbsp;</td></tr>

                                                            <tr>
                                                                <td valign='top' align='center'>
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable" >
                                                                            <p style=' font-weight:bold;font-size:13px;line-height: 30px;'>[CLIENTS.COMPANY_NAME]</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable" >
                                                                            <p style='color:#A8B0B6; font-size:13px;line-height: 15px;'>[CLIENTS.ADDRESS]</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable" >
                                                                            <a target='_blank' href="[FORWARD]" style='line-height: 20px;color:#A8B0B6; font-size:13px;'>Forward to a friend</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="contentEditableContainer contentTextEditable">
                                                                        <div class="contentEditable" >
                                                                            <a target='_blank' href='[UNSUBSCRIBE]' style='line-height:19px;color:#A8B0B6; font-size:13px;'>Unsubscribe</a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr><td height='28'>&nbsp;</td></tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>




    </table>
    </div>
{% endblock body %}