{% extends '::dashboard.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}

{% block breadcrumbs %}
    <div id="heading-breadcrumbs2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Accueil</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}


{% block body %}
    <div class="col-md-3">
        <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title"></h3>
            </div>

            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="{{ path('easy_category_list') }}">Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('easy_product_list') }}">Produits</a>
                    </li>
                    <li>
                        <a href="{{ path('easy_event_list') }}">Evènements</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.col-md-3 -->

        <!-- *** CUSTOMER MENU END *** -->
    </div>
{% endblock body %}