{% extends "base.html.twig" %}

{% block breadcrumbs %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Bienvenue : {{ user.username }}</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <div class="box">
{% block fos_user_content %}
    <p></p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock fos_user_content %}
    </div>
{% endblock body %}
