{% extends '::dashboard.html.twig' %}
{% block breadcrumbs %}
    <div id="heading-breadcrumbs2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Ajout d'une Catégorie</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <h1></h1>
    {{ form(form) }}
{% endblock %}