{% extends '::base.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}
{% block body %}
    <h1>Ajout d'une Catégorie</h1>
    {{ form(form) }}
{% endblock %}