{% extends '::dashboard.html.twig' %}
{% block breadcrumbs %}
    <div id="heading-breadcrumbs2">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Categories de Produits</h1>
                </div>
                <div class="col-md-5">


                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}
{% block body %}
    <div class="row">
        <h1></h1>

        <div class="col-md-12" id="customer-orders">
            <div class="box">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tr>
                            <td>Name</td>
                            <td>Action</td>
                        </tr>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a class="btn btn-template-main"
                                       href="{{ path('easy_category_update', {'id': category.id}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a class="btn btn-template-primary"
                       href="{{ path('easy_category_add') }}"> Ajouter un
                        nouvelle catégorie de produit</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}