{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Les plus vendus</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="">Acceuil</a>
                        </li>
                        <li>Produits</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Produit</th>
                <th>Quantité vendue</th>
                <th>Favoris</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.qty }}</td>
                    <td><a href="{{ path('easy_client_favorite', {'id': product.id})  }}" class="btn btn-template-main">Ajouter</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <a href="{{ path('easy_client_product') }}" class="btn btn-template-main"> Retour </a>

{% endblock %}