{% extends '::base.html.twig' %}
{% block nav %}
    {% include ':include:navback.html.twig' %}
{% endblock nav %}

{% block body %}
    <h1>Produits les plus vendus</h1>
    <div class="row">
        <table class="table table-striped">
            <tr>
                <th>Produit</th>
                <th>Quantité vendue</th>
                <th>Favoris</th>
            </tr>

            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.qty }}</td>
                    <td><a href="{{ path('easy_client_favorite', {'id': product.id})  }}">Ajouter</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}